.orstyling {
    background-color: transparent !important;
    color: green;
    border-color: transparent !important;
    padding: 2px !important;
}

.orstyling .orstyling--active  {
    color: lightgreen;
}

.orstyling .orstyling--hover {
    color: lightseagreen;
}

.showcodearrow {
    margin-left: 5px;
}

.side {
    position: absolute;
    right: 0;
    top: 0;
}

.bottom {
    position: absolute;
    right: 0;
    bottom: 0;
}