.panelDisplaySide {
    border: 1px solid lightgrey;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow:auto;
}

.codeDisplay {
    white-space: pre-wrap;
    color: #143217;
    padding:5px;
    background-color: #deffec;
    word-wrap:none;
}

.paddingor {
    padding: 0 !important;
}