.input-error {
    color: red;
}

.no-resize {
    resize: none;
}

.palindromeTitle {
    position: relative;
}

.rowSpacing {
    margin-bottom: 10px;
}

.paddingor {
    padding: 0 !important;
}

.topRightor {
    border-top-right-radius: 0px !important;
}