.input-error {
    color: red;
}

.no-resize {
    resize: none;
}

.fizzbuzzCard {
    width: 50%;
}

.fizzbuzzTitle {
    position: relative;
}

.showCodeButton {
    position: absolute;
    right: 0;
    top: 0;
}