.input-error {
    color: red;
}

.no-resize {
    resize: none;
}

.paddingor {
    padding: 0 !important;
}

.topRightor {
    border-top-right-radius: 0px !important;
}

.fizzbuzzTitle {
    position: relative;
}